/* main.css */
.filters.row {
  margin: 15px;
}
.btn-default {
  color: #013878;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
}
.filter {
  margin-right: 10px;
}
.show>.dropdown-menu {
  padding: 0;
}
.items {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
}
.dropdown li.S {
  background: #52cc52;
}
.dropdown li.S span {
  color: white;
}
.dropdown li.A {
  background: #eee;
}
.dropdown li.X, .dropdown li.XS {
  background: #ccc;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  opacity: 0.5;
}
.dropdown-menu>li>input, .dropdown-menu .items li {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu .items li {
  cursor: pointer;
}
.search-icon {
  height: 20px;
  position: absolute;
  top: 5px;
  right: 0;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
}

.qvplaceholder, .qvobject {
	flex: 1 1 auto;
	height: 300px;
	min-width: 400px;
	margin: 45px 0 0 45px;
}
